<html>
    <head>
        <h1>Projeto Módulo 3  - Banco de Dados
        </h1>
        <h5>
            Vem ser tech - Ada e iFood
        </h5>
        <h5>
            Banco de dados
        </h5>
    </head>
    <body>
        <p>
            Esse é um projeto proposto para finalizar o módulo de Banco de dados da Turma 1105, com aulas ministradas pelo professor (nome do professor)
        </p>
    </body>    
</html>

<html>
    <head>
        <h3>
            Autor: Mauricio Lima Gonçalves
        </h3>
        <p>
            <a href="https://www.linkedin.com/in/mauricio-goncalves/">
            LinkedIn
            </a>
        </p>
        <p>
            <a href="https://github.com/mauricioGoncalvesLima">
                Github
            </a>
        </p>
    </head>
    <body>
        <h4>
            Descrição
        </h4>
        <p>
            Olá, meu nome é Mauricio Gonçalves, tenho 26 anos e moro em Diadema, São Paulo.
        </p>
        <p>
            O objetivo desse projeto é escolher um dataset e inserí-lo no Postgres, e fazer uma análise descritiva do dataset escolhido.
        </p>
        <p>
            Para a realização, baixei um dataset do kaggle contendo dados de jogadores de xadrez de todo o mundo.
        </p>
        <a href="https://www.kaggle.com/datasets/everydaycodings/top-global-chess-players/versions/5?resource=download">
            Veja o dataset
        </a>
        <p>
            Para a conexão do Jupyter com o Postgres, foram usadas as bibliotecas SQLAlchemy e Psycopg.
        </p>
        <a href="https://www.sqlalchemy.org">SQL Alchemy</a>
        <a href="https://www.psycopg.org/docs/">Psycopg</a>
        <p>
            Os resultados das queries serão amazenados em dataframes do Pandas para serem exibidos.
        </p>
        <a href="https://pandas.pydata.org">Pandas</a>
    </body>
</html>

<h3>Instalação de pacotes/bibliotecas</h3>

In [2]:
!pip install nbconvert

Requirement already satisfied: nbconvert in c:\anaconda\lib\site-packages (6.0.7)

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.
WARNING: There was an error checking the latest version of pip.

Requirement already satisfied: jinja2>=2.4 in c:\anaconda\lib\site-packages (from nbconvert) (2.11.3)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\anaconda\lib\site-packages (from nbconvert) (0.8.4)
Requirement already satisfied: jupyterlab-pygments in c:\anaconda\lib\site-packages (from nbconvert) (0.1.2)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\anaconda\lib\site-packages (from nbconvert) (1.4.3)
Requirement already satisfied: entrypoints>=0.2.2 in c:\anaconda\lib\site-packages (from nbconvert) (0.3)
Requirement already satisfied: testpath in c:\anaconda\lib\site-packages (from nbconvert) (0.4.4)
Requirement already satisfied: jupyter-core in c:\anaconda\lib\site-packages (from nbconvert) (4.7.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\anaconda\lib\site-packages (from nbconvert) (0.5.3)
Requirement already satisfied: defusedxml in c:\anaconda\lib\site-packages (from nbconvert) (0.7.1)
Requirement already satisfied: traitlets>=4.2 in c:\anaconda\lib\site-packages (from nbconvert) (5.0.5)
Requirement already satisfied: bleach in c:\anaconda\lib\site-packages (from nbconvert) (3.3.0)
Requirement already satisfied: pygments>=2.4.1 in c:\anaconda\lib\site-packages (from nbconvert) (2.8.1)
Collecting nbformat>=4.4
  Using cached nbformat-5.9.2-py3-none-any.whl (77 kB)
Requirement already satisfied: MarkupSafe>=0.23 in c:\anaconda\lib\site-packages (from jinja2>=2.4->nbconvert) (1.1.1)
Requirement already satisfied: nest-asyncio in c:\anaconda\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (1.5.1)
Requirement already satisfied: jupyter-client>=6.1.5 in c:\anaconda\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (6.1.12)
Requirement already satisfied: async-generator in c:\anaconda\lib\site-packages (from nbclient<0.6.0,>=0.5.0->nbconvert) (1.10)
Collecting traitlets>=4.2
  Downloading traitlets-5.14.0-py3-none-any.whl (85 kB)
     ---------------------------------------- 85.2/85.2 kB 5.0 MB/s eta 0:00:00
Collecting fastjsonschema
  Downloading fastjsonschema-2.19.0-py3-none-any.whl (23 kB)
Requirement already satisfied: jsonschema>=2.6 in c:\anaconda\lib\site-packages (from nbformat>=4.4->nbconvert) (3.2.0)
Requirement already satisfied: webencodings in c:\anaconda\lib\site-packages (from bleach->nbconvert) (0.5.1)
Requirement already satisfied: packaging in c:\anaconda\lib\site-packages (from bleach->nbconvert) (20.9)
Requirement already satisfied: six>=1.9.0 in c:\anaconda\lib\site-packages (from bleach->nbconvert) (1.15.0)
Requirement already satisfied: pywin32>=1.0 in c:\anaconda\lib\site-packages (from jupyter-core->nbconvert) (227)
Requirement already satisfied: attrs>=17.4.0 in c:\anaconda\lib\site-packages (from jsonschema>=2.6->nbformat>=4.4->nbconvert) (20.3.0)
Requirement already satisfied: setuptools in c:\anaconda\lib\site-packages (from jsonschema>=2.6->nbformat>=4.4->nbconvert) (52.0.0.post20210125)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\anaconda\lib\site-packages (from jsonschema>=2.6->nbformat>=4.4->nbconvert) (0.17.3)
Requirement already satisfied: pyzmq>=13 in c:\anaconda\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (20.0.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\anaconda\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (2.8.1)
Requirement already satisfied: tornado>=4.1 in c:\anaconda\lib\site-packages (from jupyter-client>=6.1.5->nbclient<0.6.0,>=0.5.0->nbconvert) (6.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\anaconda\lib\site-packages (from packaging->bleach->nbconvert) (2.4.7)
Installing collected packages: fastjsonschema, traitlets, nbformat
  Attempting uninstall: traitlets
    Found existing installation: traitlets 5.0.5
    Uninstalling traitlets-5.0.5:
      Successfully uninstalled traitlets-5.0.5
  Attempting uninstall: nbformat
    Found existing installation: nbformat 4.2.0
    Uninstalling nbformat-4.2.0:
      Successfully uninstalled nbformat-4.2.0
Successfully installed fastjsonschema-2.19.0 nbformat-5.9.2 traitlets-5.14.0

In [14]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\anaconda\lib\site-packages (2.9.9)

[notice] A new release of pip is available: 22.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy in c:\anaconda\lib\site-packages (from pandasql) (1.20.1)
Requirement already satisfied: pandas in c:\anaconda\lib\site-packages (from pandasql) (1.2.4)
Requirement already satisfied: sqlalchemy in c:\anaconda\lib\site-packages (from pandasql) (1.4.7)
Requirement already satisfied: pytz>=2017.3 in c:\anaconda\lib\site-packages (from pandas->pandasql) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\anaconda\lib\site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\anaconda\lib\site-packages (from sqlalchemy->pandasql) (1.0.0)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26818 sha256=d9a5057100a1ed34dec9b858b58cbe233a2c5407c26fb38c3ed317b7fdb521e4
  Stored in directory: c:\users\mauricio gonçalves\appdata\local\pip\cache\wheels\ed\8f\46\a383923333728744f01ba24adbd8e364f2cb9470a8b8e5b9ff
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

WARNING: There was an error checking the latest version of pip.

In [5]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\anaconda\lib\site-packages (1.4.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\anaconda\lib\site-packages (from sqlalchemy) (1.0.0)

WARNING: There was an error checking the latest version of pip.

<h3>Importação das bibliotecas e conexão com o Postgres</h3>

In [52]:
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [53]:
# SGBD://USER:SENHA@HOST/DATABASE

SGBD = 'postgresql+psycopg2'
USER = 'postgres'
SENHA = 'senha'
HOST = 'localhost'
DATABASE = 'postgres'

engine = create_engine(f'{SGBD}://{USER}:{SENHA}@{HOST}/{DATABASE}')
conn = engine.connect()

<h3>Tratamento dos dados</h3>

<p>O objetivo é criar uma tabela no Postgresql chamada "jogadores" para receber os dados do dataset baixado, que é um csv chamado "Ranking.csv".
</p>
<p>
   Para isso, vamos carregar o csv em um dataframe para entender melhor os nossos dados para estruturar a tabela a ser criada no Postgres.
</p>
<p>
    Para isso, uso as métodos head(), shape, columns e dtypes para ter a descrição geral dos dados.
</p>

In [3]:
jogadores = pd.read_csv('Ranking.csv')

In [4]:
jogadores.head()

,name,rank,country,title,profilelink,profileimage,classicalrating,rapidrating,blitzrating,lastupdated
0,Magnus Carlsen,1,Norway,GM,https://www.chess.com/players/magnus-carlsen,https://images.chesscomfiles.com/uploads/v1/ma...,2830,2818,2887,05-12-2023
1,Fabiano Caruana,2,United States,GM,https://www.chess.com/players/fabiano-caruana,https://images.chesscomfiles.com/uploads/v1/ma...,2804,2762,2815,05-12-2023
2,Hikaru Nakamura,3,United States,GM,https://www.chess.com/players/hikaru-nakamura,https://images.chesscomfiles.com/uploads/v1/ma...,2788,2731,2874,05-12-2023
3,Ding Liren,4,China,GM,https://www.chess.com/players/ding-liren,https://images.chesscomfiles.com/uploads/v1/ma...,2780,2830,2787,05-12-2023
4,Ian Nepomniachtchi,5,Russia,GM,https://www.chess.com/players/ian-nepomniachtchi,https://images.chesscomfiles.com/uploads/v1/ma...,2769,2778,2795,05-12-2023

In [5]:
jogadores.shape

(53520, 10)

In [6]:
jogadores.columns

Index(['name', 'rank', 'country', 'title', 'profilelink', 'profileimage',
       'classicalrating', 'rapidrating', 'blitzrating', 'lastupdated'],
      dtype='object')

In [7]:
jogadores.dtypes

name               object
rank                int64
country            object
title              object
profilelink        object
profileimage       object
classicalrating     int64
rapidrating         int64
blitzrating         int64
lastupdated        object
dtype: object

In [8]:
lista_titulos = list(jogadores.title.unique())
print(lista_titulos)

['GM', 'FM', 'IM', nan, 'WGM', 'CM', 'WIM', 'WFM', 'WCM']

<p>Com base nas informações acima, vamos deixar a nossa tabela da seguinte forma:</p>


<html>


<body>
<table>
    <caption style="text-align:center">
        <strong>Jogadores
        </strong>
    </caption>
    <thead>
        <tr>
            <th>Coluna</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                NOME
            </td>
            <td>
                VARCHAR
            </td>
        </tr>
        <tr>
            <td>
                RANK
            </td>
            <td>
                INT
            </td>
        </tr>
        <tr>
            <td>
                PAIS
            </td>
            <td>
                 VARCHAR
            </td>
        </tr>
        <tr>
            <td>
                TITULO
            </td>
            <td>
                 ENUMERATE
            </td>
        </tr>
        <tr>
            <td>LINK
            </td>
            <td>
                VARCHAR
            </td>
        </tr>
        <tr>
            <td>
                RATING_CLASSICO
            </td>
            <td>
                INT
            </td>
        </tr>
        <tr>
            <td>
                RATING_RAPIDAS
            </td>
            <td>
                INT
            </td>
        </tr>
        <tr>
            <td>
                RATING_BLITZ
            </td>
            <td>
                INT
            </td>
        </tr>
    </tbody>
    </table>
    </body>
</html>

<p>
    Isso significa que precisamos remover as colunas profileimage e lastupdated do dataframe antes de carregar no Postgresl.
</p>
<p>
    Também vamos remover aspas e vírgulas dos nomes dos jogadores, para evitar erros ao gravar/ler o arquivo. Como a tabela é muito grande, vamos trabalhar apenas com 10000 primeiros registros, descartando o restante.
</p>

In [9]:
jogadores = jogadores.drop(columns=['profileimage', 'lastupdated'])

In [10]:
jogadores = jogadores[:10000]

In [11]:
jogadores.shape

(10000, 8)

In [12]:
jogadores["name"] = jogadores["name"].str.replace("'", "")
jogadores["name"] = jogadores["name"].str.replace(",", " ")

In [13]:
jogadores.head()

,name,rank,country,title,profilelink,classicalrating,rapidrating,blitzrating
0,Magnus Carlsen,1,Norway,GM,https://www.chess.com/players/magnus-carlsen,2830,2818,2887
1,Fabiano Caruana,2,United States,GM,https://www.chess.com/players/fabiano-caruana,2804,2762,2815
2,Hikaru Nakamura,3,United States,GM,https://www.chess.com/players/hikaru-nakamura,2788,2731,2874
3,Ding Liren,4,China,GM,https://www.chess.com/players/ding-liren,2780,2830,2787
4,Ian Nepomniachtchi,5,Russia,GM,https://www.chess.com/players/ian-nepomniachtchi,2769,2778,2795

<h3>Preparação do banco de dados</h3>

<p>
    Nosso dataframe já está pronto, porém primeiro vamos criar a tabela no Postgres.
</p>
<p>
    Antes, vamos criar o tipo "Títulos", que é um enumerate que vai aceitar apenas os títulos de xadrez válidos pela FIDE e também o valor vazio ''.
</p>

In [51]:
criar_tipo_titulo = "CREATE TYPE projeto.titulos AS ENUM('GM', 'FM', 'IM', 'WGM', 'CM', 'WIM', 'WFM', 'WCM', '')"

In [52]:
try:
    conn.execute(criar_tipo_titulo)
except:
    print('Tipo "titulos" já existe')

Tipo "titulos" já existe

In [16]:
criar_tabela = """

CREATE TABLE projeto.jogadores(
    NOME VARCHAR(50),
    RANK INT,
    PAIS VARCHAR(20),
    TITULO projeto.titulos,
    LINK VARCHAR(150),
    RATING_CLASSICO INT,
    RATING_RAPIDAS INT,
    RATING_BLITZ INT
)
"""

In [17]:
try:
    conn.execute(criar_tabela)
    print('Tabela criada')
except:
    print('Houve um erro.')

<p>Criamos o tipo titulos e a tabela, agora vamos converter o dataframe jogadores para csv e depois inserir no banco de dados</p>

In [18]:
jogadores.to_csv('jogadores.csv', sep=',', header=False, index=False, na_rep=None)

In [ ]:
with open('jogadores.csv', 'r') as jogadores:
    for jogador in jogadores:
        jogador_aux = jogador.split(sep=',')
        insert = f"INSERT INTO projeto.jogadores VALUES('{jogador_aux[0]}', {jogador_aux[1]}, '{jogador_aux[2]}', '{jogador_aux[3]}', '{jogador_aux[4]}', {jogador_aux[5]}, {jogador_aux[6]}, {jogador_aux[7]})"
        conn.execute(insert)

<h3>Análise dos dados</h3>

<p>
    Agora que os dados foram tratados e inseridos no banco, basta fazer nossa análise.
</p>

<p>
    Podemos fazer uma query e armazenar o resultado como uma lista de tuplas em uma variável
</p>

<p> Vamos tentar responder as seguintes perguntas:</p>
<dl>
    <dt>
        <li>
            Quais são os 10 melhores jogadores do mundo?
        </li>
    </dt>
    <dd>
        Ordenação feita pela atributo 'rank' do Chess.com
    </dd>
    <dt>
        <li>
            Quais são os 10 melhores jogadores do Brasil?
        </li>
    </dt>
    <dd>
        Ordenação feita pela atributo 'rank' do Chess.com e filtragem pelo país
    </dd>
    <dt>
        <li>
            Quantos títulos de xadrez foram distribuídos?
        </li>
    </dt>
    <dd>
        Agregamento e agrupamento pela coluna 'título'
    </dd>
    <dt>
        <li>
            Qual a média de rating clássico por título de xadrez?
        </li>
    </dt>
    <dt>
        <li>
            Quais os 10 países com as maiores médias de rating clássico
        </li>
    </dt>
    <dd>
        Agregamento e filtragem da coluna 'rating_classico' e agrupamento pela coluna 'pais' 
    </dd>
    <dt>
        <li>
            Quais países com mais GM?
        </li>
    </dt>
    <dd>
        Agregamento e filtragem da coluna 'titulo' e ordenação feita pela coluna 'pais'
    </dd>
    <dt>
        <li>
            Quais 3 países mais frequentes em determinadas faixas de rating?
        </li>
    </dt>
    <dd>
        Agregação feita pela coluna 'rating_classico'. As faixas selecionadas foram: 2800 > rating > 2500, 2500 > rating > 2200 e 2200 > rating > 1900
    </dd>
</dl>

<h5>Quais são os 10 melhores jogadores do mundo?</h5>

In [37]:
query_melhores_mundo = """
SELECT
    nome,
    rank,
    pais,
    titulo,
    rating_classico
FROM projeto.jogadores
WHERE rank <= 10
ORDER BY rank
"""

In [38]:
df_melhores_mundo = pd.read_sql_query(query_melhores_mundo, con=conn)

In [39]:
df_melhores_mundo

                      nome  rank           pais titulo  rating_classico
0           Magnus Carlsen     1         Norway     GM             2830
1          Fabiano Caruana     2  United States     GM             2804
2          Hikaru Nakamura     3  United States     GM             2788
3               Ding Liren     4          China     GM             2780
4       Ian Nepomniachtchi     5         Russia     GM             2769
5                Wesley So     6  United States     GM             2757
6  Leinier Dominguez Perez     7  United States     GM             2756
7         Alireza Firouzja     8         France     GM             2751
8          Sergey Karjakin     9         Russia     GM             2750
9               Anish Giri    10    Netherlands     GM             2749

<h5>Quais são os 10 melhores jogadores do Brasil?</h5>

In [26]:
query_melhores_brasil = """
SELECT
    nome,
    rank,
    pais,
    titulo,
    rating_classico
FROM projeto.jogadores
WHERE pais = 'Brazil'
ORDER BY rank
LIMIT 10
"""

In [27]:
df_melhores_brasil = pd.read_sql_query(query_melhores_brasil, con=conn)

In [28]:
df_melhores_brasil

                         nome  rank    pais titulo  rating_classico
0               Alexandr Fier   192  Brazil     GM             2600
1            Giovanni Vescovi   248  Brazil     GM             2584
2             Luis Paulo Supi   255  Brazil     GM             2582
3    Krikor Sevag Mekhitarian   423  Brazil     GM             2540
4    Felipe De Cresce el Debs   490  Brazil     GM             2527
5               Andre Diamant   555  Brazil     GM             2517
6  Renato R Quintiliano Pinto   570  Brazil     GM             2515
7      Evandro Amorim Barbosa   723  Brazil     GM             2493
8   Diego Rafael Di Berardino   844  Brazil     IM             2479
9      Yago De Moura Santiago   971  Brazil     GM             2466

<h5>Quantos títulos de xadrez foram distribuídos?</h5>

In [67]:
distribuicao_titulos = """
SELECT
    titulo,
    COUNT(titulo) AS quantidade
FROM
    projeto.jogadores
WHERE
    titulo <> ''
GROUP BY
    titulo
ORDER BY
    quantidade DESC
"""

In [68]:
df_distribuicao_titulos = pd.read_sql_query(distribuicao_titulos, con=conn)

In [69]:
# Como eu faria uma coluna com a frequência acumulada
df_distribuicao_titulos

  titulo  quantidade
0     FM        3260
1     IM        2131
2     GM        1309
3     CM         324
4    WGM         135
5    WIM         124
6    WFM          38
7    WCM           2

<h5>Qual a média de rating clássico por título de xadrez?</h5>

In [64]:
query_media_rating_classico_por_titulo = """
SELECT
    titulo,
    COUNT(titulo) AS quantidade,
    CAST(AVG(rating_classico) AS int4) AS media_rating
FROM
    projeto.jogadores
WHERE
    titulo <> ''
GROUP BY
    titulo
ORDER BY
    quantidade DESC
"""

In [65]:
df_media_rating_classico_por_titulo = pd.read_sql_query(query_media_rating_classico_por_titulo, con=conn)

In [66]:
df_media_rating_classico_por_titulo

  titulo  quantidade  media_rating
0     FM        3260          2271
1     IM        2131          2353
2     GM        1309          2496
3     CM         324          2217
4    WGM         135          2266
5    WIM         124          2227
6    WFM          38          2199
7    WCM           2          2206

<h5>Quais os 10 países com as maiores médias de rating clássico?</h5>

In [92]:
query_paises_maior_rating = """
SELECT
    pais,
    CAST(AVG(rating_classico) AS int4) AS media_rating
FROM
    projeto.jogadores
WHERE
    titulo <> ''
GROUP BY
    pais
ORDER BY
    media_rating DESC
LIMIT 10    

"""

In [93]:
df_paises_maior_rating = pd.read_sql_query(query_paises_maior_rating, con=conn)

In [94]:
df_paises_maior_rating

            pais  media_rating
0     Cape Verde          2478
1          China          2445
2     Uzbekistan          2411
3        Georgia          2406
4        Armenia          2399
5          Aruba          2390
6  International          2385
7        Ukraine          2382
8          India          2382
9     Azerbaijan          2378

<h5>Quais países com mais GMs?</h5>

In [98]:
query_paises_mais_gms = """
SELECT
    pais,
    COUNT(titulo) AS contagem_gms
FROM
    projeto.jogadores
WHERE
    titulo = 'GM'
GROUP BY
    pais
ORDER BY
    contagem_gms DESC
LIMIT 10

"""

In [99]:
df_paises_mais_gms = pd.read_sql_query(query_paises_mais_gms, con=conn)

In [100]:
df_paises_mais_gms

            pais  contagem_gms
0         Russia            96
1        Germany            76
2  United States            68
3          India            66
4        Ukraine            53
5         France            48
6         Serbia            47
7          Spain            46
8         Poland            43
9         Israel            41

<h5>Quais 3 países mais frequentes em determinadas faixas de rating?</h5>

In [43]:
query_top_paises_2500_2800 = """
SELECT
    pais,
    COUNT(pais) AS frequencia
FROM projeto.jogadores
WHERE
    (rating_classico <= 2800) AND (rating_classico > 2500)
GROUP BY
    pais
ORDER BY
    COUNT(pais) DESC
LIMIT 5
"""

In [44]:
df_top_paises_2500_2800 = pd.read_sql_query(query_top_paises_2500_2800, con=conn)

In [45]:
df_top_paises_2500_2800

            pais  frequencia
0         Russia          52
1          India          43
2  United States          43
3        Ukraine          34
4          China          33

In [46]:
query_top_paises_2200_2500 = """
SELECT
    pais,
    COUNT(pais) AS frequencia
FROM projeto.jogadores
WHERE
    (rating_classico <= 2500) AND (rating_classico > 2200)
GROUP BY
    pais
ORDER BY
    COUNT(pais) DESC
LIMIT 5
"""

In [47]:
df_top_paises_2200_2500 = pd.read_sql_query(query_top_paises_2200_2500, con=conn)

In [48]:
df_top_paises_2200_2500

      pais  frequencia
0  Germany         884
1    Spain         470
2   Russia         364
3   France         356
4   Serbia         269

In [49]:
query_top_paises_1900_2200 = """
SELECT
    pais,
    COUNT(pais) AS frequencia
FROM projeto.jogadores
WHERE
    (rating_classico <= 2200) AND (rating_classico > 1900)
GROUP BY
    pais
ORDER BY
    COUNT(pais) DESC
LIMIT 5
"""

In [50]:
df_top_paises_1900_2200 = pd.read_sql_query(query_top_paises_1900_2200, con=conn)

In [51]:
df_top_paises_1900_2200

          pais  frequencia
0      Germany         268
1        Spain         178
2       France         105
3       Serbia          87
4  Netherlands          85